.Main-Chat
  .Main-Chat__group--info
    .main-group
      .main-group__name
      .main-group__member
    =link_to '#' , class: "edit-btn" do
      Edit
  .MessageField
    = render @messages
  .Main-Chat__message--form
    .form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .form-contents
          .form-contents__text
            = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
            = f.label :image, class: 'Form__inputImage' do
              = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
          = f.submit 'Send', class: 'Form__submit'
          
    